* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	/*background: #ff5555;*/
	width: 700px;
	/*height: 460px;*/
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.wrapper{
	background: #eee;
	height: 400px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#imageContainer {
	/* background: #333; */
	height: 400px;
	min-width: 100%;
	display:flex;
	align-items:center;
}

.image-rack {
	/* background: red; */
	min-width: 100%;
	height: 100%;
	position: relative;
}

img {
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 20%;
}

.prev-next-btns {
	width: 60px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 50px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

#prev {
	left: 10px;
	transform: translateY(-50%) rotateY(180deg);
}

#next {
	right: 10px;
}

h2 {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
	color: white;
	text-align: center;
}

.delayIndicators {
	position: absolute;
	width: 100px;
	height: 3px;
	background: rgba(255,255,255, 0.5);
	bottom: 2%;
	left: 2%;
}

.delayIndicators::before {
	content: "";
	width: 0;
	height: 3px;
	/* background: rgb(255,255,255); */
	background: red;
	display: block;
	animation: width linear 4000ms infinite;
}

@keyframes width{
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

.btn-wrapper {
	/*background: red;*/
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 20%;
	height: 25px;
}

.dots {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	outline: none;
	border: none;
	background: #999999;
	cursor: pointer;
}

.dots:hover {
	background: teal;
}

.activeColor {
	background: teal;
}

.color {
	background: teal;
}









